infrastructure/n8n-workflows/image-pipeline.json
{
    "updatedAt": "2026-02-26T00:55:51.180Z",
    "createdAt": "2026-02-26T00:09:26.608Z",
    "id": "TOlX7e4jF16RWmrs",
    "name": "Doppler Editorial \u2014 Image Pipeline",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "b76a9a6a-bef5-4439-b2fc-4a08d55f0e9e",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "doppler-image-gen",
                "options": {},
                "responseMode": "lastNode"
            },
            "webhookId": "b76a9a6a-bef5-4439-b2fc-4a08d55f0e9e"
        },
        {
            "parameters": {
                "jsCode": "const KNOWN_COMPANIES = {\n  \"apple\": { name: \"Apple\", context: \"Apple products, iPhone, iPad, Mac, iOS, macOS\" },\n  \"google\": { name: \"Google\", context: \"Google products, Android, Chrome, Search, Pixel\" },\n  \"openai\": { name: \"OpenAI\", context: \"OpenAI, ChatGPT, GPT models, AI assistants\" },\n  \"chatgpt\": { name: \"OpenAI\", context: \"OpenAI ChatGPT, AI chatbot interface\" },\n  \"anthropic\": { name: \"Anthropic\", context: \"Anthropic, Claude AI, AI safety\" },\n  \"claude\": { name: \"Anthropic\", context: \"Anthropic Claude, AI assistant\" },\n  \"meta\": { name: \"Meta\", context: \"Meta, Facebook, Instagram, WhatsApp, Llama AI\" },\n  \"microsoft\": { name: \"Microsoft\", context: \"Microsoft, Windows, Azure, Copilot, Office\" },\n  \"nvidia\": { name: \"NVIDIA\", context: \"NVIDIA, GPUs, CUDA, AI chips\" },\n  \"tesla\": { name: \"Tesla\", context: \"Tesla, electric vehicles, Elon Musk, self-driving\" },\n  \"amazon\": { name: \"Amazon\", context: \"Amazon, AWS, Alexa, cloud computing\" },\n  \"samsung\": { name: \"Samsung\", context: \"Samsung, Galaxy phones, semiconductors\" },\n  \"tiktok\": { name: \"TikTok\", context: \"TikTok, ByteDance, short video, social media\" },\n  \"trump\": { name: \"Trump Administration\", context: \"US politics, tech regulation, executive orders\" }\n};\n\nconst title = $input.first().json.title.toLowerCase();\nlet detectedCompany = null;\nlet companyContext = null;\n\nfor (const [keyword, info] of Object.entries(KNOWN_COMPANIES)) {\n  if (title.includes(keyword)) {\n    detectedCompany = info.name;\n    companyContext = info.context;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    detectedCompany,\n    companyContext,\n    skipImage: $input.first().json.templateType === \"meme\"\n  }\n}];"
            },
            "name": "Company Detection",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                300
            ],
            "id": "0bc1a011-edbf-4285-96bb-792fe9ea8069"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.skipImage }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Skip for Meme?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ],
            "id": "3d558172-b5ea-49f4-b746-f3443f0704f5"
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nlet imagePrompt;\n\nif (data.detectedCompany) {\n  imagePrompt = `Create a modern, professional blog header image (16:9 aspect ratio, 1200x675px) about: \"${data.title}\". The image should visually reference ${data.detectedCompany} (${data.companyContext}). Style: clean tech blog aesthetic, subtle gradients, modern typography feel. No text in the image.`;\n} else {\n  const categoryThemes = {\n    \"vpn-privacy\": \"digital privacy, shield icons, encrypted data streams, lock symbols\",\n    \"ai-launches\": \"artificial intelligence, neural networks, futuristic tech, glowing circuits\",\n    \"ai-regulation\": \"law and technology, gavels with circuit boards, regulation documents\",\n    \"big-tech\": \"corporate tech, glass buildings, data centers, modern office\",\n    \"us-policy\": \"government and technology, Capitol building with tech overlay\",\n    \"censorship\": \"internet freedom, broken chains, firewall visualization\",\n    \"cybersecurity\": \"cybersecurity, hacking, digital threats, shields and code\",\n    \"streaming\": \"streaming media, entertainment, screens and content\",\n    \"startup-vc\": \"startup ecosystem, venture capital, growth charts, innovation\"\n  };\n\n  const theme = categoryThemes[data.topicCategory] || \"modern technology, digital innovation\";\n  imagePrompt = `Create a modern, professional blog header image (16:9 aspect ratio, 1200x675px) about: \"${data.title}\". Visual theme: ${theme}. Style: clean tech blog aesthetic, subtle gradients. No text in the image.`;\n}\n\nreturn [{\n  json: {\n    ...data,\n    imagePrompt\n  }\n}];"
            },
            "name": "Image Prompt Builder",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                920,
                200
            ],
            "id": "80a42985-aaa1-4223-81e1-f664a2bbbd34"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent?key={{ $env.GEMINI_API_KEY }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.imagePrompt }] }], generationConfig: { responseModalities: [\"TEXT\", \"IMAGE\"], responseMimeType: \"text/plain\" } }) }}",
                "options": {
                    "timeout": 60000
                }
            },
            "name": "Gemini Image Generation",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1160,
                200
            ],
            "id": "c4b8af86-5268-4641-9f38-b0dd138bff17"
        },
        {
            "parameters": {
                "jsCode": "const https = require(\"https\");\nconst inputData = $input.first().json;\n\nconst candidates = inputData.candidates || [];\nconst parts = candidates[0]?.content?.parts || [];\nconst imagePart = parts.find(p => p.inlineData);\n\nconst title = $(\"Image Prompt Builder\").first().json.title || \"blog-image\";\nconst originalData = $(\"Image Prompt Builder\").first().json;\n\nif (!imagePart) {\n  return [{ json: { ...originalData, imageUrl: null, imageError: \"No image in Gemini response\" } }];\n}\n\nconst base64Data = imagePart.inlineData.data;\nconst mimeType = imagePart.inlineData.mimeType || \"image/png\";\nconst ext = mimeType.includes(\"jpeg\") ? \"jpg\" : \"png\";\nconst slug = title.toLowerCase().replace(/[^a-z0-9]+/g, \"-\").slice(0, 50);\nconst filename = `${slug}-${Date.now()}.${ext}`;\n\nconst imageBuffer = Buffer.from(base64Data, \"base64\");\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst hostname = supabaseUrl.replace(\"https://\", \"\");\n\nconst uploadResult = await new Promise((resolve, reject) => {\n  const options = {\n    hostname,\n    path: `/storage/v1/object/blog-images/${filename}`,\n    method: \"POST\",\n    headers: {\n      \"apikey\": supabaseKey,\n      \"Authorization\": \"Bearer \" + supabaseKey,\n      \"Content-Type\": mimeType,\n      \"Content-Length\": imageBuffer.length\n    }\n  };\n\n  const req = https.request(options, (res) => {\n    let body = \"\";\n    res.on(\"data\", chunk => body += chunk);\n    res.on(\"end\", () => resolve({ statusCode: res.statusCode, body }));\n  });\n  req.on(\"error\", reject);\n  req.write(imageBuffer);\n  req.end();\n});\n\nconst publicUrl = `${supabaseUrl}/storage/v1/object/public/blog-images/${filename}`;\n\nreturn [{\n  json: {\n    ...originalData,\n    imageUrl: publicUrl,\n    imageFilename: filename,\n    uploadStatus: uploadResult.statusCode\n  }\n}];"
            },
            "name": "Upload to Supabase Storage",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                200
            ],
            "id": "78f1bf25-4d16-40ad-a579-90f26f432695"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "imageUrl",
                            "value": "",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "name": "Skip Image",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                920,
                440
            ],
            "id": "07a7dccb-4434-4ed6-ab94-b0f106cf09d1"
        },
        {
            "id": "flatten-body-TOlX",
            "name": "Flatten Body",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ],
            "parameters": {
                "jsCode": "const items = $input.all();\nconst body = items[0].json.body || items[0].json;\nreturn [{ json: body }];"
            }
        }
    ],
    "connections": {
        "Company Detection": {
            "main": [
                [
                    {
                        "node": "Skip for Meme?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip for Meme?": {
            "main": [
                [
                    {
                        "node": "Skip Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Image Prompt Builder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Image Prompt Builder": {
            "main": [
                [
                    {
                        "node": "Gemini Image Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Image Generation": {
            "main": [
                [
                    {
                        "node": "Upload to Supabase Storage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Supabase Storage": {
            "main": [
                []
            ]
        },
        "Skip Image": {
            "main": [
                []
            ]
        },
        "Flatten Body": {
            "main": [
                [
                    {
                        "node": "Company Detection",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Flatten Body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "57a35865-b572-4e70-9748-8bc089ab5a53",
    "activeVersionId": "57a35865-b572-4e70-9748-8bc089ab5a53",
    "versionCounter": 61,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-26T00:09:26.610Z",
            "createdAt": "2026-02-26T00:09:26.610Z",
            "role": "workflow:owner",
            "workflowId": "TOlX7e4jF16RWmrs",
            "projectId": "EONlUm0d92HHHVBN",
            "project": {
                "updatedAt": "2026-02-25T02:05:40.807Z",
                "createdAt": "2026-02-15T17:41:33.246Z",
                "id": "EONlUm0d92HHHVBN",
                "name": "Roman Pochtman <pochtmanrca@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-15T17:41:33.246Z",
                        "createdAt": "2026-02-15T17:41:33.246Z",
                        "userId": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                        "projectId": "EONlUm0d92HHHVBN",
                        "user": {
                            "updatedAt": "2026-02-26T00:55:17.000Z",
                            "createdAt": "2026-02-25T01:40:25.011Z",
                            "id": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                            "email": "pochtmanrca@gmail.com",
                            "firstName": "Roman",
                            "lastName": "Pochtman",
                            "personalizationAnswers": null,
                            "settings": {
                                "firstSuccessfulWorkflowId": "CoWsngJ0UMOjyzFL",
                                "userActivated": true,
                                "userActivatedAt": 1772064788001
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-25",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-26T00:55:51.182Z",
        "createdAt": "2026-02-26T00:55:51.182Z",
        "versionId": "57a35865-b572-4e70-9748-8bc089ab5a53",
        "workflowId": "TOlX7e4jF16RWmrs",
        "nodes": [
            {
                "id": "b76a9a6a-bef5-4439-b2fc-4a08d55f0e9e",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    200,
                    300
                ],
                "parameters": {
                    "httpMethod": "POST",
                    "path": "doppler-image-gen",
                    "options": {},
                    "responseMode": "lastNode"
                },
                "webhookId": "b76a9a6a-bef5-4439-b2fc-4a08d55f0e9e"
            },
            {
                "parameters": {
                    "jsCode": "const KNOWN_COMPANIES = {\n  \"apple\": { name: \"Apple\", context: \"Apple products, iPhone, iPad, Mac, iOS, macOS\" },\n  \"google\": { name: \"Google\", context: \"Google products, Android, Chrome, Search, Pixel\" },\n  \"openai\": { name: \"OpenAI\", context: \"OpenAI, ChatGPT, GPT models, AI assistants\" },\n  \"chatgpt\": { name: \"OpenAI\", context: \"OpenAI ChatGPT, AI chatbot interface\" },\n  \"anthropic\": { name: \"Anthropic\", context: \"Anthropic, Claude AI, AI safety\" },\n  \"claude\": { name: \"Anthropic\", context: \"Anthropic Claude, AI assistant\" },\n  \"meta\": { name: \"Meta\", context: \"Meta, Facebook, Instagram, WhatsApp, Llama AI\" },\n  \"microsoft\": { name: \"Microsoft\", context: \"Microsoft, Windows, Azure, Copilot, Office\" },\n  \"nvidia\": { name: \"NVIDIA\", context: \"NVIDIA, GPUs, CUDA, AI chips\" },\n  \"tesla\": { name: \"Tesla\", context: \"Tesla, electric vehicles, Elon Musk, self-driving\" },\n  \"amazon\": { name: \"Amazon\", context: \"Amazon, AWS, Alexa, cloud computing\" },\n  \"samsung\": { name: \"Samsung\", context: \"Samsung, Galaxy phones, semiconductors\" },\n  \"tiktok\": { name: \"TikTok\", context: \"TikTok, ByteDance, short video, social media\" },\n  \"trump\": { name: \"Trump Administration\", context: \"US politics, tech regulation, executive orders\" }\n};\n\nconst title = $input.first().json.title.toLowerCase();\nlet detectedCompany = null;\nlet companyContext = null;\n\nfor (const [keyword, info] of Object.entries(KNOWN_COMPANIES)) {\n  if (title.includes(keyword)) {\n    detectedCompany = info.name;\n    companyContext = info.context;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    detectedCompany,\n    companyContext,\n    skipImage: $input.first().json.templateType === \"meme\"\n  }\n}];"
                },
                "name": "Company Detection",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    440,
                    300
                ],
                "id": "0bc1a011-edbf-4285-96bb-792fe9ea8069"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "leftValue": "={{ $json.skipImage }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Skip for Meme?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    680,
                    300
                ],
                "id": "3d558172-b5ea-49f4-b746-f3443f0704f5"
            },
            {
                "parameters": {
                    "jsCode": "const data = $input.first().json;\nlet imagePrompt;\n\nif (data.detectedCompany) {\n  imagePrompt = `Create a modern, professional blog header image (16:9 aspect ratio, 1200x675px) about: \"${data.title}\". The image should visually reference ${data.detectedCompany} (${data.companyContext}). Style: clean tech blog aesthetic, subtle gradients, modern typography feel. No text in the image.`;\n} else {\n  const categoryThemes = {\n    \"vpn-privacy\": \"digital privacy, shield icons, encrypted data streams, lock symbols\",\n    \"ai-launches\": \"artificial intelligence, neural networks, futuristic tech, glowing circuits\",\n    \"ai-regulation\": \"law and technology, gavels with circuit boards, regulation documents\",\n    \"big-tech\": \"corporate tech, glass buildings, data centers, modern office\",\n    \"us-policy\": \"government and technology, Capitol building with tech overlay\",\n    \"censorship\": \"internet freedom, broken chains, firewall visualization\",\n    \"cybersecurity\": \"cybersecurity, hacking, digital threats, shields and code\",\n    \"streaming\": \"streaming media, entertainment, screens and content\",\n    \"startup-vc\": \"startup ecosystem, venture capital, growth charts, innovation\"\n  };\n\n  const theme = categoryThemes[data.topicCategory] || \"modern technology, digital innovation\";\n  imagePrompt = `Create a modern, professional blog header image (16:9 aspect ratio, 1200x675px) about: \"${data.title}\". Visual theme: ${theme}. Style: clean tech blog aesthetic, subtle gradients. No text in the image.`;\n}\n\nreturn [{\n  json: {\n    ...data,\n    imagePrompt\n  }\n}];"
                },
                "name": "Image Prompt Builder",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    920,
                    200
                ],
                "id": "80a42985-aaa1-4223-81e1-f664a2bbbd34"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent?key={{ $env.GEMINI_API_KEY }}",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.imagePrompt }] }], generationConfig: { responseModalities: [\"TEXT\", \"IMAGE\"], responseMimeType: \"text/plain\" } }) }}",
                    "options": {
                        "timeout": 60000
                    }
                },
                "name": "Gemini Image Generation",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1160,
                    200
                ],
                "id": "c4b8af86-5268-4641-9f38-b0dd138bff17"
            },
            {
                "parameters": {
                    "jsCode": "const https = require(\"https\");\nconst inputData = $input.first().json;\n\nconst candidates = inputData.candidates || [];\nconst parts = candidates[0]?.content?.parts || [];\nconst imagePart = parts.find(p => p.inlineData);\n\nconst title = $(\"Image Prompt Builder\").first().json.title || \"blog-image\";\nconst originalData = $(\"Image Prompt Builder\").first().json;\n\nif (!imagePart) {\n  return [{ json: { ...originalData, imageUrl: null, imageError: \"No image in Gemini response\" } }];\n}\n\nconst base64Data = imagePart.inlineData.data;\nconst mimeType = imagePart.inlineData.mimeType || \"image/png\";\nconst ext = mimeType.includes(\"jpeg\") ? \"jpg\" : \"png\";\nconst slug = title.toLowerCase().replace(/[^a-z0-9]+/g, \"-\").slice(0, 50);\nconst filename = `${slug}-${Date.now()}.${ext}`;\n\nconst imageBuffer = Buffer.from(base64Data, \"base64\");\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst hostname = supabaseUrl.replace(\"https://\", \"\");\n\nconst uploadResult = await new Promise((resolve, reject) => {\n  const options = {\n    hostname,\n    path: `/storage/v1/object/blog-images/${filename}`,\n    method: \"POST\",\n    headers: {\n      \"apikey\": supabaseKey,\n      \"Authorization\": \"Bearer \" + supabaseKey,\n      \"Content-Type\": mimeType,\n      \"Content-Length\": imageBuffer.length\n    }\n  };\n\n  const req = https.request(options, (res) => {\n    let body = \"\";\n    res.on(\"data\", chunk => body += chunk);\n    res.on(\"end\", () => resolve({ statusCode: res.statusCode, body }));\n  });\n  req.on(\"error\", reject);\n  req.write(imageBuffer);\n  req.end();\n});\n\nconst publicUrl = `${supabaseUrl}/storage/v1/object/public/blog-images/${filename}`;\n\nreturn [{\n  json: {\n    ...originalData,\n    imageUrl: publicUrl,\n    imageFilename: filename,\n    uploadStatus: uploadResult.statusCode\n  }\n}];"
                },
                "name": "Upload to Supabase Storage",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1400,
                    200
                ],
                "id": "78f1bf25-4d16-40ad-a579-90f26f432695"
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "name": "imageUrl",
                                "value": "",
                                "type": "string"
                            }
                        ]
                    },
                    "includeOtherFields": true,
                    "options": {}
                },
                "name": "Skip Image",
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    920,
                    440
                ],
                "id": "07a7dccb-4434-4ed6-ab94-b0f106cf09d1"
            },
            {
                "id": "flatten-body-TOlX",
                "name": "Flatten Body",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    500,
                    0
                ],
                "parameters": {
                    "jsCode": "const items = $input.all();\nconst body = items[0].json.body || items[0].json;\nreturn [{ json: body }];"
                }
            }
        ],
        "connections": {
            "Company Detection": {
                "main": [
                    [
                        {
                            "node": "Skip for Meme?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Skip for Meme?": {
                "main": [
                    [
                        {
                            "node": "Skip Image",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Image Prompt Builder",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Image Prompt Builder": {
                "main": [
                    [
                        {
                            "node": "Gemini Image Generation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Gemini Image Generation": {
                "main": [
                    [
                        {
                            "node": "Upload to Supabase Storage",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Upload to Supabase Storage": {
                "main": [
                    []
                ]
            },
            "Skip Image": {
                "main": [
                    []
                ]
            },
            "Flatten Body": {
                "main": [
                    [
                        {
                            "node": "Company Detection",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Flatten Body",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Roman Pochtman",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-26T00:55:51.255Z",
                "id": 152,
                "workflowId": "TOlX7e4jF16RWmrs",
                "versionId": "57a35865-b572-4e70-9748-8bc089ab5a53",
                "event": "activated",
                "userId": "00f12e0f-5634-430b-ab08-fd0aefa1a039"
            }
        ]
    }
}
