infrastructure/n8n-workflows/service-monitor.json
{
    "updatedAt": "2026-02-22T18:29:05.341Z",
    "createdAt": "2026-02-21T20:21:30.315Z",
    "id": "6KtZe6D5XcbVzyFS",
    "name": "Doppler Service Monitor",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 0
                        },
                        {
                            "triggerAtHour": 6
                        },
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 12
                        },
                        {
                            "triggerAtHour": 18
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://www.dopplervpn.org",
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "check-website",
            "name": "Check Website",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                250,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://www.dopplervpn.org/api/blog/status",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "YOUR_BLOG_API_KEY"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "check-blog-api",
            "name": "Check Blog API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://72.61.87.54:9090/marzban-api/admin/token",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        },
                        {
                            "name": "X-Marzban-Key",
                            "value": "YOUR_MARZBAN_API_SECRET"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "string",
                "body": "username=YOUR_MARZBAN_USER&password=YOUR_MARZBAN_PASS",
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "marzban-de-auth",
            "name": "Marzban DE Auth",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                750,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://72.61.87.54:9090/marzban-api/system",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Marzban DE Auth').first().json.body ? $('Marzban DE Auth').first().json.body.access_token : '' }}"
                        },
                        {
                            "name": "X-Marzban-Key",
                            "value": "YOUR_MARZBAN_API_SECRET"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "marzban-de-system",
            "name": "Marzban DE System",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://45.10.43.204:8000/api/admin/token",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "string",
                "body": "username=YOUR_MARZBAN_USER&password=YOUR_MARZBAN_PASS",
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "marzban-ru-auth",
            "name": "Marzban RU Auth",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://45.10.43.204:8000/api/system",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Marzban RU Auth').first().json.body ? $('Marzban RU Auth').first().json.body.access_token : '' }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "marzban-ru-system",
            "name": "Marzban RU System",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1500,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://127.0.0.1:5678/healthz",
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "check-n8n",
            "name": "Check n8n",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1750,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://www.simnetiq.store",
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "check-simnetiq",
            "name": "Check Simnetiq",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://fzlrhmjdjjzcgstaeblu.supabase.co/rest/v1/blog_posts?select=id&limit=1",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_KEY"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "check-supabase",
            "name": "Check Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2250,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://82.38.64.45:22/",
                "options": {
                    "timeout": 5000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "check-vps-ch",
            "name": "Check VPS CH",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2500,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://82.26.193.110:22/",
                "options": {
                    "timeout": 5000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "check-vps-uk",
            "name": "Check VPS UK",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2750,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://82.38.68.15:22/",
                "options": {
                    "timeout": 5000,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "check-vps-us",
            "name": "Check VPS US",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3000,
                0
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Format Message \u2014 pure data transformation, NO fetch/AbortController\n// All upstream nodes accessible via $() since this is a sequential chain\n\nfunction isHttpOk(data) {\n  if (!data) return false;\n  if (data.error) return false;\n  const code = data.statusCode;\n  return code >= 200 && code < 400;\n}\n\nfunction isVpsUp(data) {\n  if (!data) return false;\n  if (!data.error) return true;\n  const msg = String(data.error || '');\n  return !msg.includes('ETIMEDOUT') && !msg.includes('timeout') && !msg.includes('abort');\n}\n\nfunction formatBytes(bytes) {\n  if (!bytes || bytes === 0) return '0 B';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(Math.abs(bytes)) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\n\nfunction get(name) {\n  try { return $(name).first().json; } catch { return null; }\n}\n\nconst website = get('Check Website');\nconst blogApi = get('Check Blog API');\nconst marzbanDE = get('Marzban DE System');\nconst marzbanRU = get('Marzban RU System');\nconst n8nNode = get('Check n8n');\nconst simnetiq = get('Check Simnetiq');\nconst supabase = get('Check Supabase');\nconst vpsCH = get('Check VPS CH');\nconst vpsUK = get('Check VPS UK');\nconst vpsUS = get('Check VPS US');\n\nconst icon = (ok) => ok ? '\\u2705' : '\\u274C';\nconst vIcon = (up) => up ? '\\ud83d\\udfe2' : '\\ud83d\\udd34';\n\nconst services = [\n  { name: 'Website', ok: isHttpOk(website) },\n  { name: 'Blog API', ok: isHttpOk(blogApi), data: blogApi },\n  { name: 'Marzban DE', ok: isHttpOk(marzbanDE), data: marzbanDE },\n  { name: 'Marzban RU', ok: isHttpOk(marzbanRU), data: marzbanRU },\n  { name: 'n8n', ok: isHttpOk(n8nNode) },\n  { name: 'Simnetiq', ok: isHttpOk(simnetiq) },\n  { name: 'Supabase', ok: isHttpOk(supabase) },\n];\n\nconst vpsList = [\n  { name: 'CH', flag: '\\ud83c\\udde8\\ud83c\\udded', up: isVpsUp(vpsCH) },\n  { name: 'UK', flag: '\\ud83c\\uddec\\ud83c\\udde7', up: isVpsUp(vpsUK) },\n  { name: 'US', flag: '\\ud83c\\uddfa\\ud83c\\uddf8', up: isVpsUp(vpsUS) },\n];\n\nconst now = new Date();\nconst hour = now.getUTCHours();\nconst isDailySummary = (hour === 9);\nconst hasFailures = services.some(s => !s.ok) || vpsList.some(v => !v.up);\nconst shouldSend = isDailySummary || hasFailures;\n\nconst ts = now.toISOString().replace('T', ' ').slice(0, 16) + ' UTC';\nconst lines = [];\n\nif (shouldSend) {\n  lines.push(isDailySummary ? '\\ud83d\\udcca <b>Daily Doppler Status</b>' : '\\ud83d\\udd34 <b>ALERT: Service Down</b>');\n  lines.push('');\n  lines.push('<b>Services</b>');\n  for (const s of services) {\n    let detail = s.ok ? 'OK' : 'Unreachable';\n    if (s.name === 'Blog API' && s.ok && s.data && s.data.body && s.data.body.stats) {\n      detail = s.data.body.stats.total_posts + ' posts, ' + s.data.body.stats.total_translations + ' translations';\n    }\n    if (s.name.startsWith('Marzban') && s.ok && s.data && s.data.body) {\n      const d = s.data.body;\n      detail = d.total_user + ' users, ' + d.users_active + ' active, \\u2193' + formatBytes(d.incoming_bandwidth) + ' \\u2191' + formatBytes(d.outgoing_bandwidth);\n    }\n    if (!s.ok && s.data && s.data.error) {\n      detail = String(s.data.error).substring(0, 60);\n    }\n    lines.push(icon(s.ok) + ' <b>' + s.name + ':</b> ' + detail);\n  }\n  lines.push('');\n  lines.push('<b>VPN Servers</b>');\n  // DE and RU covered by Marzban above\n  for (const v of vpsList) {\n    lines.push(vIcon(v.up) + ' ' + v.flag + ' <b>' + v.name + ':</b> ' + (v.up ? 'Reachable' : 'Unreachable'));\n  }\n  lines.push('');\n  lines.push('<i>' + ts + '</i>');\n}\n\nreturn [{ json: { shouldSend, message: lines.join('\\n'), isDailySummary, hasFailures } }];"
            },
            "id": "format-message",
            "name": "Format Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3250,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.shouldSend }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-should-send",
            "name": "If Should Send",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3500,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ chat_id: 218545546, text: $json.message, parse_mode: 'HTML' }) }}",
                "options": {}
            },
            "id": "send-telegram",
            "name": "Send to Roman",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3750,
                -50
            ]
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "Check Website",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Website": {
            "main": [
                [
                    {
                        "node": "Check Blog API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Blog API": {
            "main": [
                [
                    {
                        "node": "Marzban DE Auth",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marzban DE Auth": {
            "main": [
                [
                    {
                        "node": "Marzban DE System",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marzban DE System": {
            "main": [
                [
                    {
                        "node": "Marzban RU Auth",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marzban RU Auth": {
            "main": [
                [
                    {
                        "node": "Marzban RU System",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marzban RU System": {
            "main": [
                [
                    {
                        "node": "Check n8n",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check n8n": {
            "main": [
                [
                    {
                        "node": "Check Simnetiq",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Simnetiq": {
            "main": [
                [
                    {
                        "node": "Check Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Supabase": {
            "main": [
                [
                    {
                        "node": "Check VPS CH",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check VPS CH": {
            "main": [
                [
                    {
                        "node": "Check VPS UK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check VPS UK": {
            "main": [
                [
                    {
                        "node": "Check VPS US",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check VPS US": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "If Should Send",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Should Send": {
            "main": [
                [
                    {
                        "node": "Send to Roman",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Schedule (5x Daily)": {
            "recurrenceRules": []
        },
        "node:Schedule": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "7a2731b4-8767-43eb-8cd3-d783dfdf2435",
    "activeVersionId": null,
    "versionCounter": 12,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-21T20:21:30.317Z",
            "createdAt": "2026-02-21T20:21:30.317Z",
            "role": "workflow:owner",
            "workflowId": "6KtZe6D5XcbVzyFS",
            "projectId": "EONlUm0d92HHHVBN",
            "project": {
                "updatedAt": "2026-02-25T02:05:40.807Z",
                "createdAt": "2026-02-15T17:41:33.246Z",
                "id": "EONlUm0d92HHHVBN",
                "name": "Roman Pochtman <pochtmanrca@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-15T17:41:33.246Z",
                        "createdAt": "2026-02-15T17:41:33.246Z",
                        "userId": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                        "projectId": "EONlUm0d92HHHVBN",
                        "user": {
                            "updatedAt": "2026-02-26T00:55:17.000Z",
                            "createdAt": "2026-02-25T01:40:25.011Z",
                            "id": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                            "email": "pochtmanrca@gmail.com",
                            "firstName": "Roman",
                            "lastName": "Pochtman",
                            "personalizationAnswers": null,
                            "settings": {
                                "firstSuccessfulWorkflowId": "CoWsngJ0UMOjyzFL",
                                "userActivated": true,
                                "userActivatedAt": 1772064788001
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-25",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
